<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <bindings>
    
    </bindings>
    <services>
      <service name="WCF3_3.Zadanie3">
        <endpoint address=""
				  binding="webHttpBinding"
				  behaviorConfiguration="WebHttpBehavior"
				  contract="WCF3_3.IZadanie3" />		
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
		<endpointBehaviors>
			<behavior name="WebHttpBehavior">
				<webHttp />
			</behavior>
		</endpointBehaviors>	
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
